/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  font-size: 16px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.form-group {
  margin: 1rem 0;
}

label {
  cursor: pointer;
  display: inline-block;
  min-width: 140px;
  vertical-align: top;
}

.form-input {
  width: 600px;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.homepage_body {
  position: relative;
  margin: 0;
  min-height: 100dvh;
  background: url("../img/2321285.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.homepage_body::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 44, 44, 0.4);
  z-index: 1;
}

.tasks_index_body {
  position: relative;
  margin: 0;
  min-height: 100dvh;
  background: url("../img/2321285.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.tasks_index_body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  z-index: -1;
}

.wrapper,
nav,
.homepage,
.text_container {
  position: relative;
  z-index: 1;
}

.wrapper {

  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;

}

.wrapper h1 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

nav {
  width: 40%;
  gap: 40px;
  display: flex;
  justify-content: space-between;

}

nav a {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  border: 3px solid whitesmoke;
  width: 200px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: whitesmoke;
  border-radius: 12px;
  font-weight: bold;

}





.header_logo {
  width: 120px;

}


nav a:hover {
  animation: expand 0.6s forwards;
}

nav a:not(:hover) {
  animation: shrink 0.6s forwards;
}

@keyframes expand {
  from {
    width: 200px;
  }

  to {
    width: 500px;
  }

}

@keyframes shrink {
  from {
    width: 500px;
  }

  to {
    width: 200px;
  }

}

.homepage_logo {
  width: 500px;
}

.homepage {
  display: flex;
  justify-content: center;
}

.container {
  width: 700px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text_container {
  margin-top: 200px;
  padding: 20px;
  background-color: white;
  color: whitesmoke;
  border-radius: 25px;
  font-size: 1.4rem;
  font-weight: bold;
  box-shadow: 4px 4px 4px 4px 10px rgba(0, 0, 0);
  font-family: "Roboto", sans-serif;
  background-color: rgb(240, 240, 240, 0.3);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.text_container:hover {
  animation: bigger 0.6s forwards;
}

.text_container:not(:hover) {
  animation: smallerr 0.6s forwards;
}

@keyframes bigger {
  from {
    scale: 1;
  }

  to {
    scale: 1.1;
  }

}

@keyframes smallerr {
  from {
    scale: 1.1;
  }

  to {
    scale: 1;
  }

}



.text_container:hover {
  scale: 1.2;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
  transition: 0.4s ease;
}

/* ====== Knop-stijl voor "Nieuwe taak maken" ====== */
.btn {
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  font-size: 1.2rem;
  padding: 10px 18px;
  border-radius: 12px;
  border: 3px solid whitesmoke;
  color: whitesmoke;
  transition: 0.2s ease;
}

.new-task {
  display: flex;
  justify-content: center;
}

.btn-primary {
  background: rgba(0, 0, 0, 0.25);
}

.btn-primary:hover {
  filter: brightness(1.15);
  transform: translateY(-2px);
}


.kanban_container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 35px;
}

.kanban_container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: whitesmoke;
  font-size: 1.8rem;
}

.todo_container {
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.8);
  border-radius: 13%;
  width: 400px;
  height: 550px;
  background-color: rgb(54, 54, 54);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  border: 4px solid rgb(31, 31, 31, 0.6);

}

.doing_container {
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.8);
  border-radius: 13%;
  width: 400px;
  height: 550px;
  background-color: rgb(54, 54, 54);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  border: 4px solid rgb(31, 31, 31, 0.6);

}

.done_container {
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.8);
  border-radius: 13%;
  width: 400px;
  height: 550px;
  background-color: rgb(54, 54, 54);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  border: 4px solid rgb(31, 31, 31, 0.6);


}


.todo_tasks {
  flex: 1;
  width: 99%;
  border-bottom-left-radius: 13%;
  overflow-y: auto;
  border-bottom-right-radius: 13%;
  height: 90%;
  background-color: rgb(110, 110, 110, 0.5);
  scrollbar-width: none;
  scrollbar-color: whitesmoke;
  box-sizing: border-box;
  padding-bottom: 42px;
}

.doing_tasks {
  flex: 1;
  width: 99%;
  border-bottom-left-radius: 13%;
  overflow-y: auto;
  border-bottom-right-radius: 13%;
  height: 90%;
  background-color: rgb(110, 110, 110, 0.5);
  scrollbar-width: none;
  scrollbar-color: whitesmoke;
  box-sizing: border-box;
  padding-bottom: 42px;
}

.done_tasks {
  flex: 1;
  width: 99%;
  border-bottom-left-radius: 13%;
  overflow-y: auto;
  border-bottom-right-radius: 13%;
  height: 90%;
  background-color: rgb(110, 110, 110, 0.5);
  scrollbar-width: none;
  scrollbar-color: whitesmoke;
  box-sizing: border-box;
  padding-bottom: 42px;
}

.todo_main {
  width: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  padding-top: 1px;
  padding-bottom: 12px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: grey;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  margin-top: 7px;
  border: 2px solid whitesmoke;

}

.todo_main span {
  font-weight: bold;
}

.todo_main a {
  text-decoration: none;
  color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
  font-weight: bold;

}

.overview_h1 {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  padding-top: 7%;
}


.table_container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}


table {
  width: 60%;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid whitesmoke;
}

th {
  background-color: rgb(41, 41, 41);
  color: whitesmoke;
  text-align: left;
  padding: 12px 16px;
  font-weight: 600;
}

td {
  padding: 12px 16px;
  border-bottom: 1px solid #e5e7eb;
  color: rgb(255, 255, 255);
}

table a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid whitesmoke;
}


.overview_done_link {
  border-bottom: 2px solid whitesmoke;
  margin-top: 15px;

}

.overview_done_link2 {
  border-bottom: 2px solid whitesmoke;
}

.overview_done_link a {
  text-decoration: none;
  font-size: 1.2rem;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.overview_done_link2 a {
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}


.overview_done_wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  width: 81%;
}

.afdeling_link {
  border-bottom: 2px solid whitesmoke;
  margin-top: 15px;

}

.afdeling_info {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  width: 81%;
}

.afdeling_link a {
  text-decoration: none;
  font-size: 1.2rem;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.link_taak {
  margin-top: 20px;
}

.link_taak a {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid whitesmoke;
  color: whitesmoke;
}

.taak_link_wrapper {
  margin: 0 auto;
  width: 60%;
}

/* ===== Afdeling page styles (tasks/afdeling.php) ===== */
.afdeling_page {
  position: relative;
  z-index: 1;
}

.afdeling_header {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  padding-top: 7%;
}

.afdeling_grid {
  width: 82%;
  margin: 30px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 18px;
}

.afdeling_card {
  background-color: rgb(54, 54, 54);
  color: whitesmoke;
  border: 2px solid rgba(245, 245, 245, 0.85);
  border-radius: 14px;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.08);
  padding: 16px;
  font-family: "Roboto", sans-serif;
}

.afdeling_card h3 {
  margin: 0 0 8px;
  font-size: 1.25rem;
}

.afdeling_stats {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.chip {
  background: rgba(0, 0, 0, 0.25);
  border: 2px solid whitesmoke;
  color: whitesmoke;
  border-radius: 999px;
  padding: 4px 10px;
  font-size: 0.95rem;
  font-weight: 600;
}

.afdeling_actions {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 6px;
}

.afdeling_toggle {
  cursor: pointer;
  border: 3px solid whitesmoke;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.25);
  padding: 8px 12px;
  border-radius: 12px;
  font-weight: bold;
  transition: 0.2s ease;
}

.afdeling_toggle:hover {
  filter: brightness(1.15);
  transform: translateY(-2px);
}

.tasks_list {
  margin-top: 12px;
  border-top: 1px dashed rgba(255, 255, 255, 0.4);
  padding-top: 10px;
}

.task_item {
  background: rgba(110, 110, 110, 0.5);
  border: 2px solid whitesmoke;
  color: whitesmoke;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
}

.task_item p {
  margin: 4px 0;
}

.task_item a {
  color: whitesmoke;
  text-decoration: none;
  border-bottom: 1px solid whitesmoke;
  font-weight: bold;
}

.back_link_wrap {
  width: 82%;
  margin: 20px auto 40px;
  display: flex;
  justify-content: flex-start;
}

.back_link_wrap a {
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid whitesmoke;
  color: whitesmoke;
}

/* ===== Login (tasks/login.php) ===== */
.login_container {
  display: flex;
  justify-content: center;
}

.login_card {
  width: min(520px, 92vw);
  background-color: rgb(54, 54, 54);
  color: whitesmoke;
  border: 2px solid rgba(245, 245, 245, 0.85);
  border-radius: 14px;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.08);
  padding: 22px;
  font-family: "Roboto", sans-serif;
}

.login_card h1 {
  margin: 0 0 12px;
  font-size: 1.6rem;
  text-align: center;
}

.login_card p.sub {
  margin: 0 0 18px;
  opacity: .9;
  text-align: center;
}

.form_row {
  margin-bottom: 14px;
}

.form_row label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.form_row input[type="text"],
.form_row input[type="password"] {
  width: 90%;
  padding: 10px 12px;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  background: rgba(0, 0, 0, 0.25);
  color: whitesmoke;
  font-size: 1rem;
  outline: none;
}

.pw_wrap {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
  align-items: center;
}

.pw_toggle {
  border: 3px solid whitesmoke;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.25);
  padding: 8px 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: .2s ease;
}

.pw_toggle:hover {
  filter: brightness(1.15);
  transform: translateY(-2px);
}

.form_inline {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 6px 0 4px;
}

.form_actions {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 8px;
}

.form-errors {
  background: #ffe8e6;
  color: #8a1f11;
  border: 1px solid #f5c2c0;
  padding: 10px 12px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.form-errors ul {
  margin: 0;
  padding-left: 18px;
}
.btn-login {
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  font-size: 1.2rem;
  padding: 10px 18px;
  border-radius: 12px;
  border: 3px solid whitesmoke;
  color: black;
  transition: 0.2s ease;
}
